<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có không</h1>
    <form action="/add-question" method="POST">
        <textarea cols="30" rows="10" value="" name="question" id="question" maxlength="200"></textarea>
        <br>
        <span id="spancount">Còn 200/200 ký tự</span>
        <input type="submit">
    </form>
    <script>
        document.getElementById('question').onkeyup = function() {
            limitTextCount()
        };

        document.getElementById('question').onkeydown = function() {
            limitTextCount()
        };

        function limitTextCount() {
            var limitField = document.getElementById('question');
            var limitCount = document.getElementById('spancount');


            var fieldLEN = limitField.value.length;

            if (fieldLEN > 200) {
                limitField.value = limitField.value.substring(0, 200);
            } else {
                limitCount.innerHTML = 'Còn ' + (200 - fieldLEN) + '/200 ký tự';
            }
        };
    </script>
</body>

</html>