#vote-btn {
    margin-top: 70px;
}

.btn-redirect {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btn-redirect a {
    margin: 0px 5px 0px 0px;
}

#question-content {
    margin-top: 90px;
}

#question_result_yes {
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    float: left;
}

#question_result_no {
    padding: 7px 0;
    text-align: center;
    color: #ffffff;
    float: left;
}

.result_bar {
    border-radius: 4px;
    overflow: hidden;
}

.question_result_no {
    background: #d9534f;
}

.question_result_yes {
    background: #337ab7;
}