.menu {
    background-color: #D5B0AC;
    color: #402E2A;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

span {
    display: inline-block;
    width: 100px;
    height: 24px;
    padding-top: 6px;
}

span:hover {
    color: #ffffff;
    background-color: #9cd08f;
    cursor: pointer;
}

.menu_vertical {
    width: 100px;
    background-color: #ffffff;
}

.menu_vertical span {
    display: block;
    margin-top: 2px;
    background-color: #D5B0AC;
}